*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
body{
    background-color: #111;
}
.container{
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


}

.content-holder{
    width: auto;
    height: auto;
    padding: 20;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.the-icons{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2pc;

   

}

.tab{
    height: auto;
    width: auto;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
}

.tab p{
    font-size: 12px;
    margin-top: 20px;
    color: gray;
}

.tab i{
    font-size: 36px;
    color: rgb(68, 47, 83);
    transition: all 0.3s ease;

}

.tab:hover > i{
    cursor: pointer;
    color: rgb(94, 2, 160);
}

.Screen {
    font-size: 36px;
}

.code-container{
    height: auto;
    width: 100%;

}

.topBar{
    background-color: rgb(33, 33, 34);
    height: auto;
    width: 100%;
    padding: 10px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.copy{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.the-code{
    background-color: rgb(23, 23, 24);
    height: auto;
    width: 100%;
    padding: 10px;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.code{
    background-color: transparent;
    color: white;
    height: auto;
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 10px;
    outline: none;
    resize: vertical;
}


/* Device (Mobile Portrait) */
@media (max-width: 576px) {
    .container{
        min-height: 100vh;
    }
    .the-icons{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2pc;
    
       
    
    }
}